streamlit 
load_dotenv
fastapi
uvicorn
langchain
langgraph
langchain_groq
langchain_community
langchain_google_genai
langchain-cli
opencv-python
streamlit
streamlit-webrtc
Groq
streamlit-cookies-manager      
bcrypt
python-dotenv
opencv-python
Pillow
av
pymupdf
sentence-transformers
faiss-cpu